// MAIN CONTAINER
.container {
    width: 1200px;
    margin: 0 auto;
}

// BACKGROUND COLORS
.black-background {
    background-color: black;
}

.red-background{
    background-color: $red;
}

// GENERAL FLEX
.f-s-between {
    @include space-between;
}


// LEFT IMAGE AND RIGHT CONTENT WITH AUTOR AND TIME
.left-image-right-content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    align-items: center;
    .title-writer-time{
        grid-column: 2 / 5;
        h4{
            margin: 6px 0;
            @include transition;
        }
        h4:hover {
            color: $red;
        }
        span:nth-of-type(1){
            border-right: 1px solid $gray;
            padding-right: 5px;
        }
    }
}

