// HEADER BLACK BACKGROUND BANNER
.black-banner{
    height: 46px;
    div{
        @include flex-middle;
    }
    div div:first-child{
        i{
            color: $red;
        }
    }
    div:last-child{
        i{
            color: $gray;
            padding-right: 15px;
        }
    }
    span, p, a{
        color: $gray;
        font-size: 14px;
    }
    span{
        text-transform: uppercase;
        border-right: 1px solid $gray;
    }
    a{
        text-decoration: none;
    }
    span, p{
        padding: 0 20px;
    }
}

// HEADER WHITE BACKGROUND BANNER
.white-banner{
    height: 110px;
    padding: 10px 0;
    a:nth-of-type(2) img{
       max-width: 750px;
    }
    a {
        @include flex-middle;
    }
}

// HEADER RED BACKGROUND BANNER
.red-banner{
    align-items: center;
    height: 80px;
    nav, div{
        @include flex-middle;
    }
    nav {
        a{
            text-transform: uppercase;
            text-decoration: none;
            font-weight: 500;
            font-size: 15px;
            border-right: 1px solid white;
            padding: 0 20px;
            &:first-child{
                padding: 0 20px 0 0;
            }
            &:last-child{
                padding: 0 0 0 20px;
                border-right: none;
            }
    }
    }
    a {
        color: white;
    }
    i {
        padding: 0 15px;
        @include transition;
        transform: scaleX(1);
    }
}

.header-social-m{
    height: 100%;
}

.header-social-m div{
    height: 100%;
    &:first-child{
        border: 1px solid rgba(255, 255, 255, 0.601);
        i:hover {
            transform: scaleX(-1);
        }
    }
    &:last-child{
        border-right: 1px solid rgba(255, 255, 255, 0.601);
        padding: 20px;
    }
}

// BURGER MENU + LOGO
.logo-red-banner{
    @include flex-middle;
    display: none;
}

.burger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    height: 30px;
    div{
    width: 30px;
    border: 2px solid white;
    }
}