.mission-vision{
    width: 70%;
    padding-bottom: 100px;
    h2{
        color: black;
        font-size: 30px;
        text-transform:capitalize;
        margin: 50px 0 50px 60px;
        position: relative;
    }
    h2::before{
        position: absolute;
        content: "";
        width: 54px;
        height: 2px;
        background: #eb566c;
        top: 0;
        left: -60px;
        top: 50%;
        transform: translateY(-50%);
    }
    p{
        font-size: 14px;
        line-height: 30px;
    }
}

.background-about{
    background: url(../img/gallery/section_bg02.jpg);
    position: relative;
}

// OUR SERVICES
.about-services{
    padding: 100px 0;
    display: grid;grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    align-items: center;
    h4{
        font-size: 18px;
        color: $red;
        font-weight: 500;
        text-transform: uppercase;
    }
    h1{
        font-size: 50px;
        font-weight: 800;
        text-transform:capitalize;
    }
    p{
        line-height: 30px;
        color: white;
    }
    p:nth-of-type(1){
        font-size: 20px;
        font-weight: 500;
    }
    p:nth-of-type(2){
        font-size: 15px;
    }
    .bouton{
        margin-top: 50px;
    }
}

// OUR MEMBERS
.our-members{
    h1, h4{
        margin: 0;
    }
    h4{
        font-size: 18px;
        color: $red;
        font-weight: 500;
        text-transform: uppercase;
        padding-top: 120px;
    }
    h1{
        font-size: 50px;
        font-weight: 800;
        text-transform:capitalize;
        color: black;
        padding-top: 30px;
    }
    .members{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        padding: 80px 0;
        a{
            text-decoration: none;
        }
        h2, p{
            margin-left: 40px;
        }
        h2{
            color: black;
        }
        p{
            color: $red;
            font-size: 14px;
            font-weight: 300;
            padding-bottom: 20px;
        }
        div{
            overflow: hidden;
            background-color: white;
            img{
                width: 100%;
                @include transition;
            }
        }
        div:hover img{
            transform: scale(1.1);
        }
    }
}