iframe {
    width: 100%;
    padding: 150px 0;
}

#contact {
    h2{
        font-size: 27px;
        font-weight: 400;
        color: black;
    }
}

.form-contact{
    display: grid;
    grid-template-columns: 12;
    gap: 4rem;
    padding-bottom: 100px;
    &__1{
        grid-column: 1/9;
        display: grid;
        grid-template-columns: 6;
        gap:2rem;
        margin-top: 20px;
        textarea{
            grid-area: 1/1/9/7;
        }
        #name{
            grid-area:9/1/11/4;
        }
        #email{
            grid-area:9/4/11/7;
        }
        #subject{
            grid-area: 11/1/13/7;
        }
        .submit{
            grid-area: 13/1/16/2;
        }
        textarea, #name, #email, #subject, .sumbit{
            padding: 12px 20px;
            font-size: 13px;
            border: 1px solid rgba(128, 128, 128, 0.197);
            background-color: $gray-light;
        }
    }
    &__2{
        grid-column: 10/13;
        display: flex;
        flex-direction: column;
        i{
            font-size: 28px;
            color: $gray;
        }
        div{
            display: flex;
            align-items: center;
            margin: 10px;
            div{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
            p{
                margin: 5px;
            }
            p:last-child{
                color: $gray;
            }
        }
    }
}